* {
    font-family: sans-serif;
}

body {
    background-image: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?cs=srgb&dl=pexels-francesco-ungaro-998641.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

h1 {
    font-size: 6rem;
    color: white;
}

p {
    font-size: 3rem;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#middle {
    display: flex;
    justify-content: space;
    height: 40rem;
}

#infobox {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    width: 40rem;
    height: 30rem;
    overflow: auto;
}

.info {
    font-size: 1rem;
    display: inline-block;
    margin: 6px auto;
}

.ships {
    height: 40rem;
    width: 40rem;
}

.shipPics {
    width: 40rem;
    object-fit: contain;
}

#continue {
    /* display: flex; */
    flex-direction: column;
    margin: auto;
}

#question {
    display: inline-block;
    margin: 0 auto 9px;
}

.option {
    font-size: 2rem;
    min-height: 3rem;
    padding: 5px 10px;
    margin: 10px;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.purple {
    color: rgb(61, 145, 255);
}

.big {
    font-size: 1.8rem;
}

.hit {
    font-size: 1.2rem;
    color: rgb(255, 99, 26);
}

.winText {
    color: rgb(70, 194, 252);
    font-size: 2.1rem;
}

.loseText {
    color: red;
    font-size: 1.4rem;
}